.popupArea {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popupInner {
    background: var(--bg-color1);
    width: 448px;
    height: 240px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 46px;
  }
  
  .popupTop {
    width: 100%;
    padding: 19px 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color1);
  }
  
  .popupTop strong {
    font-size: 18px;
  }
  
  .popupContents {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
  
  .popupContents p {
    font-size: 18px;
  }
  
  .popupNav {
    display: flex;
    gap: 10px;
  }
  
  .nav1 {
    background: var(--bg-color1);
    border: 1px solid var(--text-color);
    border-radius: 5px;
    padding: 17px 37px 16px;
    font-size: 18px;
  }
  
  .nav2 {
    background: var(--text-color);
    color: var(--bg-color1);
    border-radius: 5px;
    padding: 17px 54px 16px 55px;
    font-size: 18px;
  }
  