.orderDetWrapper {
  max-width: 1080px;
  margin: 0 auto;
}
.orderDetInner {
  width: 100%;
  height: auto;
  padding: 60px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.orderDetTop {
  width: 100%;
  padding-left: 90px;
}
.orderDetBot {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.orderDetLeft {
  display: flex;
  width: 652px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.orderDetLeft > * {
  padding: 20px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  background: var(--bg-color1);
  box-shadow: 0 0 2px var(--border-color2);

}
.orderDetTitle {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--border-color2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

