.contentWrapper {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  padding: 20px 0;
}

.contentTitle {
  width: 100%;
  padding: 0 20px 20px 20px;
  font-size: 28px;
  font-weight: 400;
}

.contentFilter {
  width: 100%;
  padding: 20px 0 20px 40px;
  background: var(--bg-color3);
  display: flex;
}

.filterTitle {
  width: 100px;
  margin-right: 40px;
  font-size: 14px;
  text-align: center;
}

.buttonFilter {
  display: flex;
  border: 1px solid var(--border-color2);
  margin-right: 20px;
}

.rangeButton {
  padding: 6px 14px;
  font-size: 12px;
  color: var(--secondary-color);
  border-right: 1px solid var(--border-color2);
}
.rangeButton:last-child {
  border-right: none;
}
.rangeButton:hover,
.rangeButton.active {
  background: var(--text-color);
  color: var(--bg-color1);
}

.calendarFilter {
  display: flex;
  gap: 5px;
  margin-right: 20px;
}

.customDateInput {
  position: relative;
  width: 110px;
  height: 26px;
  border: 1px solid #ccc;
  padding: 0 35px 0 10px;
  background: var(--bg-color1);
  font-size: 14px;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.calendarIcon {
  position: absolute;
  right: 10px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.hiddenDatePicker {
  display: none;
}

.customDatePicker,
.react-datepicker__input-container input,
.calendarFilter > span {
  font-size: 12px;
  color: var(--secondary-color);
}

.queryButton {
  width: 55px;
  height: 26px;
  padding: 6px 14px;
  background: var(--text-color);
  color: var(--bg-color1);
  font-size: 12px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.tableHead th {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 12px 0;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.bodyContent td {
  font-size: 14px;
  font-weight: 400;
  padding: 12px;
  border-bottom: 1px solid var(--border-color2);
  text-align: center;
}

.emptyContent {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.emptyContent > span {
  font-size: 12px;
  color: var(--secondary-color);
}
