.itemCounter {
    display: flex;
    width: 80px;
    height: 28px;
    padding: 8px 4px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color2);
    border-radius: 4px;
    background: var(--bg-color1);
    font-size: 12px;
  }
  .counterBtn {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }