.itemPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .originalPrice{
      color: var(--border-color1);
      font-size: 12px;
      text-decoration: line-through;
  }
  .salePrice{
      color: var(--primary-color);
  }