.reviewOption {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 24px 12px;
  border-bottom: 1px solid var(--border-color2);
}
.reviewOptionItem {
  font-size: 16px;
  color: var(--secondary-color);
}
.reviewOptionItem.active {
  color: var(--text-color);
}
.reviewItem{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-bottom: 1px solid var(--border-color2);
}
.reviewItemHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviewItemRating{
    display: flex;
    gap: 4px;
}
.reviewItemDate{
    font-size: 12px;
    color: var(--secondary-color);
}
.reviewItemUser{
    font-size: 16px;
}
.reviewItemContentWrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.reviewItemTitle{
    font-size: 16px;
    font-weight: 700;
}
.reviewItemImage>img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}