.text-wrap{
    display: flex;
    height: 50px;
    padding: 15px 144px 15px 0;
    align-items: flex-start;
}
.number{
  width: 52px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-wrap span{
    font-size: 20px;
    font-weight: 700;
}
.text-wrap p{
    font-size: 16px;
}
.text-wrap.active{
  background: var(--text-color);
}
.text-wrap.active span, .text-wrap.active p{
  color: var(--bg-color1);
}
