.product2-container {
  position: relative;
}
.product2-wrapper {
  width: 570px;
  height: 309px;
  display: block;
  outline: none;
}
.product2-detail-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.product2-photo {
  width: 211px;
  height: 211px;
  position: relative;
}
.product2-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product2-photo ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.product2-detail {
  display: flex;
  flex-direction: column;
  height: 118px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.product2-detail > span {
  font-size: 12px;
  color: #777;
}
.product2-detail > p {
  font-size: 14px;
}
.product2-detail > div span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-right: 2px;
}


