.categoryRecWrapper{
    max-width: 1080px;
    margin: 60px auto 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.categoryRecTop{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-bottom: 1px solid #777;
}
.categoryListWrap{
    width: 1080px;
    overflow: hidden;
}
.categoryListContainer {
    display: flex;
    width: 700%; /* 7개의 카테고리 */
    transition: transform 0.3s ease-in-out;
}
.categoryRecList{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.products{
    width: 600px;
    height: 309px;
    overflow: hidden;
}
.productsContainer{
    width: 500%;
    display: flex;
    transition: transform .5s ease-in-out;
}
.categoryRecText{
    width: 600px;
    cursor: pointer;
}