.contentWrapper {
  width: 800px;
  height: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contentTitle {
  width: 100%;
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: flex-start;
  font-size: 28px;
  font-weight: 400;
}
.couponArea{
    width: 100%;
    height: auto;
    padding: 20px 0;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.couponInfo1{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 20px;
}
.couponInfo2{
    margin-bottom: 30px;   
}
.couponInfo2>span{
    font-size: 22px;
}
.count{
    color: var(--primary-color);
    margin-right: 2px;
}
.addCoupon{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.addCoupon>input{
    width: 300px;
    height: 39px;
    padding: 10px 0 10px 10px;
    border: 1px solid var(--border-color1);
}
.addCoupon>button{
    width: 64px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    color: var(--bg-color1);
    font-size: 16px;
}


.tableHead {
  width: 100%;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content2Head1 {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.content2Head2 {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.content2Head3 {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.content2Head4 {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.tableBody {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--border-color2);
}
.bodyContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: auto;
  height: auto;
}
.bodyContent > span {
  font-size: 12px;
  color: var(--secondary-color);
}
