.container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.addButton {
  font-size: 12px;
  padding: 8px 16px;
  background-color: var(--text-color);
  color: var(--bg-color1);
  border-radius: 4px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.table th {
  font-size: 14px;
  padding: 12px;
  border-bottom: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
  text-align: center;
  font-weight: 400;
}
.table td {
  font-size: 14px;
  padding: 12px;
  border-bottom: 1px solid var(--border-color2);
  text-align: center;
  font-weight: 400;
}

.deleteBtn {
  background: #c3162a;
  color: var(--bg-color1);
  padding: 4px 10px;
  font-size: 12px;
}
