.myPageWrapper{
    max-width: 1080px;
    margin: 0 auto;
}
.myPageInner{
    width: 100%;
    height: auto;
    padding: 60px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}