.productDetailWrapper {
  width: 100%;
  max-width: 67.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.breadcrumb {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.625rem;
  font-size: 0.875rem;
  color: #666;
  padding: 1.25rem 1.5rem 1.25rem 0;
  cursor: pointer;
}

.productSummaryWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  padding: 3.75rem 0;
  width: 100%;
  height: auto;
}
.productImageWrapper {
  width: 33.125rem;
  height: 33.125rem;
}
.productImageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.productInfoWrapper {
  width: 33.125rem;
  height: 33.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.25rem 0;
}
.productInfoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productInfoHeader h2 {
  font-size: 1.75rem;
  font-weight: 400;
}
.productInfoHeaderButton {
  display: flex;
  gap: 0.3125rem;
}
.productInfoHeaderButton button {
  width: 1.5rem;
  height: 1.5rem;
}
.productInfoPrice {
  display: flex;
  align-items: flex-end;
  gap: 1.25rem;
}
.productInfoPriceDiscount {
  display: flex;
  align-items: flex-end;
}
.productInfoPriceOriginal {
  display: flex;
  align-items: flex-end;
}
.productInfoPriceOriginal del {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--border-color1);
  padding-bottom: 0.3125rem;
}
.productInfoAdditionalInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem 2.25rem;
  gap: 0.75rem;
}
.productInfoAdditionalInfoDelivery {
  display: flex;
  align-items: center;
}
.productInfoAdditionalInfoDeliveryText {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
}
.productInfoAdditionalInfoDelivery {
  display: flex;
  gap: 1.25rem;
  align-items: flex-start;
  justify-content: center;
}
.productInfoAdditionalInfoDelivery span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}
.productInfoAdditionalInfoDelivery span:last-child {
  color: var(--secondary-color);
}
.productInfoAdditionalInfoCustomer p {
  display: flex;
  gap: 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}
.productInfoAdditionalInfoCustomer p span {
  display: flex;
  gap: 0.3125rem;
  align-items: center;
  justify-content: center;
}
.productInfoAdditionalInfoCustomer p span p {
  color: var(--secondary-color);
  font-size: 1rem;
  font-weight: 500;
  font-family: "Montserrat";
}
.productInfoAdditionalInfoCustomer p span img{
  width: 1rem;
  height: 1rem;
}
.productQuantityWrapper {
  background-color: var(--bg-color3);
}
.productQuantityWrapperInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.25rem;
}

.productInfoAdditionalInfoQuantity p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
}
.productInfoButtonWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.25rem 1.5rem;
}
.productInfoButtonWrapper button {
  width: 9.375rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--bg-color1);
  border: 1px solid var(--text-color);
  border-radius: 0.25rem;
  cursor: pointer;
}
.productInfoButtonWrapper button:last-child {
  background-color: var(--text-color);
  color: var(--bg-color1);
  border: none;
}
.productTabsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.productTabsWrapper .tabList {
  display: flex;
}
.productTabsWrapper .tabItem {
  flex: 1;
  line-height: 3.125rem;
  text-align: center;
  border-bottom: 1px solid var(--text-color);
  background-color: var(--bg-color3);
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
}
.productTabsWrapper .tabItem.active {
  border-top: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  border-bottom: none;
  background-color: var(--bg-color1);
}
.tabDescriptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 12.5rem;
  padding: 18.75rem 0;
}
.tabDescriptionWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tabReviewWrapper {
  display: flex;
  flex-direction: column;
}
.tabReviewHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3.75rem;
  gap: 2.5rem;
}
.tabReviewHeader p {
  font-size: 1.75rem;
  font-weight: 400;
}
.tabReviewHeader p em {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--primary-color);
  font-style: normal;
}
.tabReviewHeaderImg {
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}
.tabReviewHeaderImg img {
  width: 31.25rem;
  height: 18.75rem;
  object-fit: cover;
}
.tabDetailInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3.75rem 0;
}
.tabDetailInfoTable {
  width: 100%;
  border-collapse: collapse;
}
.tabDetailInfoRow {
  height: 2rem;
  border-top: 1px solid var(--border-color1);
}
.tabDetailInfoRow:last-child {
  border-bottom: 1px solid var(--border-color1);
}
.tabDetailInfoLabel {
  width: 18.75rem;
  text-align: left;
  padding-left: 1.25rem;
  background: #e7e7e7;
  font-size: 0.875rem;
  font-weight: 400;
}
.tabDetailInfoValue {
  width: 46.25rem;
  padding-left: 1.25rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
}
.tabInquiryWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 3.75rem 0;
}
.tabInquiryTitle {
  font-size: 1.75rem;
  font-weight: 400;
}
.tabInquiryContent {
  display: flex;
  gap: 1.25rem;
}
.tabInquiryContent img {
  width: 31.25rem;
  height: 18.75rem;
  object-fit: cover;
}
@media (max-width: 768px) {
  .productSummaryWrapper {
    flex-direction: column;
    padding: 2rem 1rem;
  }
  .productImageWrapper,
  .productInfoWrapper {
    width: 100%;
    height: auto;
  }
  .tabItem {
    font-size: 0.75rem;
  }
  .productInfoButtonWrapper {
    flex-direction: column;
    gap: 0.75rem;
  }
  .productInfoButtonWrapper button {
    width: 100%;
  }
  .productInfoHeader h2 {
    font-size: 1.25rem;
  }
  .productInfoHeaderButton {
    gap: 0.25rem;
  }
  .productInfoHeaderButton button {
    width: 1.25rem;
    height: 1.25rem;
  }
  .productInfoPrice{
    flex-wrap: wrap;
  }
  .productInfoPriceDiscount {
    font-size: 1.25rem;
  }
  .productInfoPriceOriginal {
    font-size: 1.25rem;
  }
  .productInfoAdditionalInfo {
    padding: 1.25rem;
  }
  .productInfoAdditionalInfoDeliveryText{
    font-size: 0.75rem;
  }
  .productInfoAdditionalInfoDelivery span{
    font-size: 0.75rem;
  }
  .productInfoAdditionalInfoCustomer p{
    font-size: 0.75rem;
  }
  .productInfoAdditionalInfoCustomer p span{
    font-size: 0.75rem;
  }
  .productInfoAdditionalInfoCustomer p span p{
    font-size: 0.75rem;
  }
  .productInfoAdditionalInfoCustomer p span img{
    width: 1rem;
    height: 1rem;
  }
  .tabDescriptionWrapper{
    gap: 1.25rem;
    padding: 1.25rem 0;
  }
  .tabReviewWrapper, .tabInquiryWrapper{
    padding: 1.25rem;
  }
  .tabReviewHeader{
    padding-top: 1.25rem;
  }
  .tabReviewHeader p{
    font-size: 1.25rem;
  }
  .tabReviewHeader p em{
    font-size: 1.25rem;
  }
  .tabReviewHeaderImg{
    flex-direction: column;
  }
  .tabReviewHeaderImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .tabInquiryTitle{
    font-size: 1.25rem;
  }
  .tabInquiryContent{
    flex-direction: column;
  }
  .tabInquiryContent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
