.sideWrapper{
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.sideTitle{
    font-size: 22px;
    font-weight: 500;
}
.menuWrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.mainMenu{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}
.mainMenu>a{
    font-size: 18px;
    font-weight: 500;
}
.subMenu{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}
.subMenu>li>button{
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color2);
}.subMenu>li>button:hover{
    color: var(--primary-color);
}
.subMenu>li>button.active{
    color: var(--primary-color);
}