/* === 검색창 === */
.headSearch {
  width: 402px;
  height: 44px;
  border-bottom: 1px solid var(--text-color);
  border-top: 1px solid #ffffff00;
  border-left: 1px solid #ffffff00;
  border-right: 1px solid #ffffff00;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headSearch input {
  flex: 1;
  margin-left: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

.headSearch button {
  width: 44px;
  height: 44px;
  background: none;
  border: none;
  cursor: pointer;
}
.headSearch.active{
  border-top: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
  border-right: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--border-color2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
