.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
.modalContent h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}
.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color2);
  border-radius: 5px;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid var(--border-color2);
  border-radius: 5px;
  resize: none;
}

.textarea::placeholder, .input::placeholder {
  color: var(--secondary-color);
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.submitButton {
  background-color: var(--text-color);
  color: var(--bg-color1);
  border: none;
  padding: 8px 16px;
  border-radius: 2px;
  cursor: pointer;
}
