.itemPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .originalPrice{
      color: var(--border-color1);
      font-size: 0.75rem;
      text-decoration: line-through;
  }
  .salePrice{
      color: var(--primary-color);
  }

@media (max-width: 768px) {
  .itemPrice {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .originalPrice {
    font-size: 0.6875rem;
  }
}

@media (max-width: 480px) {
  .originalPrice {
    font-size: 0.625rem;
  }
}